<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
      <h1>Find any City's Weather</h1>
      <div class="container">
          <form action="/" method="post">
              <div class="row justify-content-center">
                  <div class="form-group col-md-5 mb-2">
                      <input type="text" name="city_name" class="form-control">
                  </div>
                  <div class="form-group col-md-2">
                      <button type="submit" class="form-control btn btn-primary">Search</button>
                  </div>
              </div>
          </form>
          <div class="result1 part">
              <h2><%= qs.city %>'s Current Weather Condition is:</h2>
              <div class="row">
                  <div class="col-auto">
                      <span><i class="fa fa-thermometer-full" aria-hidden="true"></i></span>: <%= qs.temp %>
                      <div class="desc">
                          Description: <span>
                              <img src="https://openweathermap.org/img/w/<%= qs.icon %>.png" alt="weather-img">
                          </span> <%= qs.desc %>
                      </div>
                  </div>
              </div>
          </div>
          <button id="know" class="btn btn-outline-info btn-block">Show More</button>
          <div class="result">
              <h2>Weather Condition of <%= qs.city %>:</h2>
              <div class="row">
                  <div class="col-md-2 mb-2 part">
                      <p>Day 0</p>
                      <span>
                          <img src="https://openweathermap.org/img/w/<%= qs.next[0].icon %>.png" alt="weather-img" height="120" width="120">
                      </span>
                      <div>
                          Min <span><i class="fa fa-thermometer-full" aria-hidden="true"></i></span>: <%= qs.next[0].min_temp %>&degC <br>
                          Max <span><i class="fa fa-thermometer-full" aria-hidden="true"></i></span>: <%= qs.next[0].max_temp %>&degC
                      </div>
                      <div class="desc">
                          <%= qs.next[0].desc %>
                      </div>
                  </div>
                  <div class="col-md-2 mb-2 part">
                      <p>Day 1</p>
                      <span>
                          <img src="https://openweathermap.org/img/w/<%= qs.next[1].icon %>.png" alt="weather-img" width="120" height="120">
                      </span>
                      <div>
                          Min <span><i class="fa fa-thermometer-full" aria-hidden="true"></i></span>: <%= qs.next[0].min_temp %>&degC <br>
                          Max <span><i class="fa fa-thermometer-full" aria-hidden="true"></i></span>: <%= qs.next[0].max_temp %>&degC
                      </div>
                      <div class="desc">
                          <%= qs.next[1].desc %>
                      </div>
                  </div>
                  <div class="col-md-2 mb-2 part">
                      <p>Day 2</p>
                      <span>
                          <img src="https://openweathermap.org/img/w/<%= qs.next[2].icon %>.png" alt="weather-img" height="120" width="120">
                      </span>
                      <div>
                          Min <span><i class="fa fa-thermometer-full" aria-hidden="true"></i></span>: <%= qs.next[0].min_temp %>&degC <br>
                          Max <span><i class="fa fa-thermometer-full" aria-hidden="true"></i></span>: <%= qs.next[0].max_temp %>&degC
                      </div>
                      <div class="desc">
                          <%= qs.next[2].desc %>
                      </div>
                  </div>
                  <div class="col-md-2 mb-2 part">
                      <p>Day 3</p>
                      <span>
                          <img src="https://openweathermap.org/img/w/<%= qs.next[3].icon %>.png" alt="weather-img" width="120" height="120">
                      </span>
                      <div>
                          Min <span><i class="fa fa-thermometer-full" aria-hidden="true"></i></span>: <%= qs.next[0].min_temp %>&degC <br>
                          Max <span><i class="fa fa-thermometer-full" aria-hidden="true"></i></span>: <%= qs.next[0].max_temp %>&degC
                      </div>
                      <div class="desc">
                          <%= qs.next[3].desc %>
                      </div>
                  </div>
                  <div class="col-md-2 mb-2 part">
                      <p>Day 4</p>
                      <span>
                          <img src="https://openweathermap.org/img/w/<%= qs.next[4].icon %>.png" alt="weather-img" width="120" height="120">
                      </span>
                      <div>
                          Min <span><i class="fa fa-thermometer-full" aria-hidden="true"></i></span>: <%= qs.next[0].min_temp %>&degC <br>
                          Max <span><i class="fa fa-thermometer-full" aria-hidden="true"></i></span>: <%= qs.next[0].max_temp %>&degC
                      </div>
                      <div class="desc">
                          <%= qs.next[4].desc %>
                      </div>
                  </div>
                  <div class="col-md-2 mb-2 part">
                      <p>Day 5</p>
                      <span>
                          <img src="https://openweathermap.org/img/w/<%= qs.next[5].icon %>.png" alt="weather-img" width="120" height="120">
                      </span>
                      <div>
                          Min <span><i class="fa fa-thermometer-full" aria-hidden="true"></i></span>: <%= qs.next[0].min_temp %>&degC <br>
                          Max <span><i class="fa fa-thermometer-full" aria-hidden="true"></i></span>: <%= qs.next[0].max_temp %>&degC
                      </div>
                      <div class="desc">
                          <%= qs.next[5].desc %>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    
    <!-- JavaScript and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>